body{
    margin:0;
    padding:30px;
    overflow: hidden;
    background: #ff663f;
}

.tools .color-field{
    height:40px;
    width:40px;
    min-height: 40px;
    min-width: 40px;
    cursor:pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border:2px solid white;
    align-self: center;
    margin:0 6px;
}
.color-field:hover{
    border:2px solid black;
    height:43px;
    width:45px;
}
.tools{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}
.tools .button{
    align-self: center;
    width:100px;
    height:40px;
    border:2px solid white;
    cursor:pointer;
    color:white;
    background-color: #222;
    font-weight: bold;
    margin:0 10px;
    border-radius: 12px;
}
.color-picker{
    align-self: center;
    margin:0 10px;
    height:50px;
}
.pen-range{
    /*align-self: center;*/
    margin:0 10px;
}

canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor:pointer;
    border-radius: 20px;
}

.button:hover{
    background-color: #a9a6a6;
    margin-bottom :10px;
    color: rgb(16, 14, 14);
    transition: 500ms;    
}